@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

body {
  margin: 0px;
  text-align: center;
}

.App {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Karla", sans-serif;
}

.Header {
  display: flex;
  align-items: center;

  width: 550px;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

.Header--logo {
  height: 26px;
  width: 31px;
  padding-left: 20px;
}

.Header--title {
  font-size: 21px;
  color: white;
  padding-left: 7px;
}

.new-img-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 477px;
  height: 40px;

  color: white;

  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
}
